<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
<h1>{{title}}</h1>
</div>
</div>
</div>
</div>
<div>
        <div class="row">
                <div class="col-lg-6">
                  <div class="bs-component">   
<input [(ngModel)]="valor1" placeholder="valor1">
<input [(ngModel)]="valor2" placeholder="valor2">
<p>Total: {{ total }}</p>
</div>
<button (click)="suma()">Suma</button>
<button (click)="resta()">Restar</button>
<button (click)="multiplicar()">multiplicar</button>
<button (click)="dividir()">Dividir</button>
</div>
</div>
</div>